// Menu Button
.menu-btn {
  z-index: 3;
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
  @include ease-out;

  .btn-line {
    height: 3px;
    width: 28px;
    margin: 0 0 5px 0;
    background: #fff;
    @include ease-out;
  }

  // Rotate into X with menu lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      //Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      //Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }
      //Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}
