.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;

  img {
    width: 100%;
    border: #fff solid 3px;
    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include ease-out;
    }
  }
}
